In [1]:
for number in range(1,6):
    print("**********")

**********
**********
**********
**********
**********

In [2]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [3]:
for i in range(1,13):
    if i % 2 == 0: 
        print(i)

2
4
6
8
10
12

In [4]:
for i in range(4,80,15):
    print(i)

4
19
34
49
64
79

In [5]:
for i in range(30,-30,-10):
    print(i)

30
20
10
0
-10
-20

In [6]:
for i in range(-7,14,4):
    print(i)

-7
-3
1
5
9
13

In [7]:
for i in range(97,81,-3):
    print(i)

97
94
91
88
85
82

In [8]:
for i in range(-4,87,18):
    print(i)

-4
14
32
50
68
86

In [9]:
for i in range(1,8):
    item = str (i)* i
    print(item)

1
22
333
4444
55555
666666
7777777

In [14]:
def pay(hourly_rate, hours):
    pay_value = hourly_rate * hours
    return pay_value

hourly_rate = 18.5
hours = 8
payamount = pay(hourly_rate, hours)

print(payamount)

148.0

In [15]:
def paynovertime(hourly_rate, hours, overtime_rate, overtime_hours):
    pay_value = hourly_rate * hours
    over_time = overtime_rate * overtime_hours
    paynovertime_value = pay_value + over_time
    return paynovertime_value

hourly_rate = 18.5
hours = 8
overtime_rate = hourly_rate * 1.5
overtime_hours = 2

pay_with_overtime = paynovertime(hourly_rate, hours, overtime_rate, overtime_hours)

print("Pay with overtime:", pay_with_overtime)

Pay with overtime: 203.5

In [16]:
def circlearea(r):
    π = 3.14
    area = π * r
    return area
radius = 5
result = circlearea(radius)
print(result)

15.700000000000001